<div class="w-6/12 mx-auto shadow p-5 mb-10 mt-10">
    <h1 class="text-2xl py-3 main-color font-semibold">Enter New Password </h1>
    <form class="pt-10 pb-10" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <div>
            <label for="">CurrentPassword : </label>
            <input [ngClass]="{
                    'is-valid': !changePasswordForm.get('password')?.errors && (changePasswordForm.get('password')?.touched || changePasswordForm.get('password')?.dirty),
                    'is-invalid': changePasswordForm.get('password')?.errors && (changePasswordForm.get('password')?.touched || changePasswordForm.get('password')?.dirty)
                }" type="password" id="password" formControlName="password"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            @if(changePasswordForm.get('password')?.errors && (changePasswordForm.get('password')?.touched
            ||
            changePasswordForm.get('password')?.dirty)){
            <div class="bg-red-200  p-2 mt-2 mb-3 rounded">
                @if(changePasswordForm.get('password')?.getError('required')){
                <p>password is required</p>
                }
                @else if(changePasswordForm.get('password')?.getError('password')){
                <p>Enter Valid password </p>
                }
            </div>
            }
        </div>
        <div>
            <label for="">newPassword : </label>
            <input [ngClass]="{
                    'is-valid': !changePasswordForm.get('newPassword')?.errors && (changePasswordForm.get('newPassword')?.touched || changePasswordForm.get('newPassword')?.dirty),
                    'is-invalid': changePasswordForm.get('newPassword')?.errors && (changePasswordForm.get('newPassword')?.touched || changePasswordForm.get('newPassword')?.dirty)
                }" type="password" id="newPassword" formControlName="newPassword"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            @if(changePasswordForm.get('newPassword')?.errors && (changePasswordForm.get('newPassword')?.touched ||
            changePasswordForm.get('newPassword')?.dirty)){
            <div class="bg-red-200  p-2 mt-2 mb-3 rounded">
                @if(changePasswordForm.get('newPassword')?.getError('required')){
                <p>password is Required</p>
                }
                @else if(changePasswordForm.get('newPassword')?.getError('pattern')){
                <p>must be at least 6 chars</p>
                }
            </div>
            }
        </div>


        <div class="flex items-center justify-end gap-4 ">

            <button [disabled]="changePasswordForm.invalid || isLoading" type="submit"
                title="Enter data in Form For Enable Button" class="link-style  mt-2 mb-2">
                @if(isLoading){
                <span class="pr-1">Change Password</span>
                <span><i class="fa fa-spinner fa-spin"></i></span>
                }
                @else{
                <span>Change Password </span>
                }
            </button>
        </div>
    </form>

</div>