

<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
      <a  class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="./assets/images/Socail App.png" class="w-16" alt="Social App" />
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Social App</span>
      </a>
      <div class="flex items-center space-x-6 rtl:space-x-reverse">
          <a  routerLink="signin" class="text-sm  text-blue-600 dark:text-blue-500 hover:underline">Login</a>
          <a  routerLink="signup" class="text-sm  text-blue-600 dark:text-blue-500 hover:underline">Register</a>
      </div>
  </div>
</nav>



<router-outlet></router-outlet>

